@tailwind base;
@tailwind components;
@tailwind utilities;


@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';



.banner {
    background-image: url(../public/images/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.banner2 {
    background-image: url(../public/images/banner2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.banner3 {
    background-image: url(../public/images/img3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.slick-dots li button:before {
  font-size: 18px;
  color: #545454; 
}

.slick-dots li.slick-active button:before {
  color: #F7C322; 
}


.slick-prev, .slick-next {
  color: #F7C322; 
}

/* .slick-slide {
  margin-right: 30px; 
}

.slick-prev {
  left: -40px; 
}

.slick-next {
  right: -40px; 
} */